.map-container {
    height: 400px;
}

.sidebar {
    background-color: rgb(35 55 75 / 90%);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    border-radius: 4px;
}

.popup-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-around;
}

.popup-blue{
    color: blue;
}

.popup-red{
    color: red;
}